* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}


.navbar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    position: relative;
}

.navbar-link:hover {
    color: #ddd;
}

.navbar-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.navbar-link:hover::after {
    width: 100%;
    transition: width .3s;
}
